<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494296342775-tes057rufpqeb7ckpa6qr96vs46lrgfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494296342775-tes057rufpqeb7ckpa6qr96vs46lrgfv</string>
	<key>API_KEY</key>
	<string>AIzaSyAYNHgnOemkFQrkdmb6fhkBrRX448rJ_sw</string>
	<key>GCM_SENDER_ID</key>
	<string>494296342775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.sehmim.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-swift-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-swift-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494296342775:ios:bff33484f59f032b1273f2</string>
</dict>
</plist>